* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	background-color: #1e1e1e;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 4rem;
	font-size: 1.6rem;
}

header {
	display: flex;
	align-self: stretch;
	align-items: center;
	gap: 2.6rem;
	background-color: #333333;
	padding: 1rem;
}

button {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0.4rem 0.8rem;
}

.status-display {
	align-self: center;
	font-size: 4rem;
}

.how-to,
.player-setup {
	background-color: #333333;
	flex: 0 1 10rem;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	max-width: 50vw;
	padding: 1.8rem 2.6rem;
}

.player-count {
	display: flex;
	gap: 2rem;
}

.player-count div {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding: 1.6rem;
	border-radius: 2rem;
	text-align: center;
	font-size: 1.8rem;
}

.player-count img {
	max-height: 15rem;
}

[type="radio"] {
	visibility: hidden;
}

[type="radio"] + div {
	cursor: pointer;
}

[type="radio"]:checked + div {
	background-color: #555555;
}

.player-names {
	display: flex;
	gap: 2rem;
}

.player-names div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	gap: 2rem;
}

img {
	width: 100%;
	height: auto;
}

.player {
	background-color: #333333;
	padding: 1.6rem;
	font-size: 3rem;
	text-align: center;
	width: 15rem;
	height: 25rem;
}

.player h2 {
	margin-bottom: 2rem;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 15rem);
	grid-template-rows: repeat(3, 15rem);
	gap: 1rem;
}

.board-slot {
	background-color: #333333;
	padding: 2rem;
}

.hidden {
	display: none;
}
