* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	background-color: #1e1e1e;
	color: #ffffff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1.6rem;
}

header {
	display: flex;
	align-items: center;
	gap: 2.6rem;
	background-color: #333333;
	padding: 1rem;
}

.reset {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0.4rem 0.8rem;
}

.status-display {
	align-self: center;
	margin-top: 8rem;
	font-size: 4rem;
}

.main {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
	width: 100%;
	height: auto;
}

.player {
	background-color: #333333;
	padding: 1.6rem;
	font-size: 4rem;
	text-align: center;
	width: 25rem;
	height: 35rem;
}

.player h2 {
	margin-bottom: 2rem;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 25rem);
	grid-template-rows: repeat(3, 25rem);
	gap: 1rem;
}

.board-spot {
	background-color: #333333;
	padding: 2rem;
}
